<div class="boxed-content">

   <h2 class="box-title">Change a user's role</h2>
   <hr class="box-title-bottom-line"><br>

   <div>
      <label>Username: </label>
      <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate" id="role-username">
         <input type="text" nz-input placeholder="User's username" [(ngModel)]="roleChangeUsername">
      </nz-input-group>
      
      <ng-template #prefixTemplate><i nz-icon type="user"></i></ng-template>
      <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="roleChangeUsername=null" *ngIf="roleChangeUsername"></i></ng-template>      
   </div>

   <br>

   <div>
      <label>Role: </label><br>
      <nz-select style="width: 120px;" [(ngModel)]="selectedRoleChangeValue" nzAllowClear nzPlaceHolder="Role" id="role-select">
        <nz-option nzValue="ROLE_PROVIDER" nzLabel="Provider"></nz-option>
        <nz-option nzValue="ROLE_ADMIN" nzLabel="Admin"></nz-option>
      </nz-select>
   </div>

   <br>
   
   <button (click)="changeUserRole(roleChangeUsername, selectedRoleChangeValue)" nz-button nzType="primary">Change Role</button>

</div>


