<div>
   <h4>Consent Request</h4>

   
   <p>
      <a href="javascript:void(0)">
         {{notification.senderName}}
      </a> 
      
      is asking for permission to use, and share your medical record.
      
      <br><br>

      You can give consent, reject the request, or choose later.
   </p>

   <br>


   <h4>Network Information</h4>

   <p>Network's name:</p>



   <button (click)="onInvitationAccept()" nz-button nzType="primary" style="display:flex; margin-left:auto; padding-top:4px; margin-bottom:-13px; margin-right:-8px;">
      Accept
   </button>
</div>