.info-group {
   margin-top: 3vh;
   margin-bottom: 6vh;
}


.info-break-line {
   margin-bottom: 6vh;
}


.info-header {
   font-size: 1.5em;
   color: rgb(114, 114, 114);
   text-transform: uppercase;
   font-family:'QanelasSoft-Regular';
   margin-bottom: 2vh;
}
