<div>
   <h4>Network Invitation</h4>

   <p>
      <a href="javascript:void(0)">
         {{invitationRequest.senderUsername}}
      </a> 
      
      from the 
      
      <a href="javascript:void(0)">
         {{invitationRequest.networkName}}
      </a> 
      
      network has invited you to join the network.

      <br><br>

      You can accept the invitation, reject it, or choose later.
   </p>

   <br>


   <h4>Network Information</h4>

   <p>Network's name: {{invitationRequest.networkName}}</p>
   <p>Network's UUID: {{invitationRequest.networkUUID}}</p> <br>


   <button (click)="onInvitationAccept()" nz-button nzType="primary" style="display:flex; margin-left:auto; padding-top:4px; margin-bottom:-13px; margin-right:-8px;">
      Accept
   </button>
</div>
