<div class="network-header">

   <div id="network-name">
      <p>Network Name</p>
   </div>

   
   <nz-select id="network-selector" style="width:200px;" nzShowSearch nzPlaceHolder="Select a network" [(ngModel)]="selectedNetworkUUID" (ngModelChange)="log($event)">
      <nz-option *ngFor="let n of userNetworks" [nzValue]="n.networkUUID" [nzLabel]="n.networkUUID"></nz-option>
   </nz-select>

</div>

<div class="network-content">

   <div>
      <h1>Selected Network: {{selectedNetwork.networkUUID}}</h1>
      <p style="padding-bottom:70em;">Network Status</p> 
   </div>

</div>

<div class="network-content">
   <button (click)="showNetworkGenerationConfirm()" nz-button [nzSize]="large" nzType="default" nzBlock>Create New Network</button>
</div>
