<div *ngIf="!userHasNetwork" class="network-content">
   <h1> You have no network </h1>
   <h4> Ask for a network invitation or create a new network </h4>
</div>


<div *ngIf="userHasNetwork" class="network-header">

   <div id="network-name">
      <h1>{{selectedNetwork.name}}</h1>
   </div>

   
   <nz-select id="network-selector" nzShowSearch nzPlaceHolder="Select a network" [(ngModel)]="selectedNetwork" (ngModelChange)="log($event)">
      <nz-option *ngFor="let n of userNetworks" [nzValue]="n" [nzLabel]="n.name"></nz-option>
   </nz-select>

</div>


<div *ngIf="userHasNetwork" class="network-content">

   <div>
      <h1>Network UUID:   {{selectedNetwork.networkUUID}}</h1>
      <p style="padding-bottom:70em;">Network Status</p> 
   </div>

   <div>
      <h3>Invite user to network</h3>
      <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
         <input type="text" nz-input placeholder="User's username" [(ngModel)]="invitedUserUsername">
      </nz-input-group>
      
      <ng-template #prefixTemplate><i nz-icon type="user"></i></ng-template>
      <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="invitedUserUsername=null" *ngIf="invitedUserUsername"></i></ng-template>      
   
      <button (click)="inviteUser(invitedUserUsername)" nz-button nzType="primary">Invite User</button>
   </div>



</div>


<div class="network-content" id="network-creation">

   <button nz-button [nzType]="'primary'" (click)="showNetworkCreationModal()">
      <span>Create New Network</span>
   </button>

   <nz-modal [(nzVisible)]="isNetworkCreationModalVisible" nzTitle="Create a new network" (nzOnCancel)="onNetworkCreationCancel()" (nzOnOk)="onNetworkCreationSubmit()">

      <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
            <input type="text" nz-input placeholder="Enter network name" [(ngModel)]="newNetworkName">
      </nz-input-group>

      <ng-template #prefixTemplate><i nz-icon type="share-alt"></i></ng-template>
      <ng-template #suffixTemplate><i nz-icon type="close-circle" (click)="newNetworkName=null" *ngIf="newNetworkName"></i></ng-template>
   
   </nz-modal>
   
</div>
