/* You can add global styles to this file, and also import other style files */

body
{
   background-color: rgb(244, 246, 248);
   background-repeat: round;

   /* LIGHT GRAY SOLID
      background-color: rgb(239, 241, 243);
   */

   /*GRAY GRADIENT
      background-image: linear-gradient(to right, rgb(225, 225, 225), whitesmoke); 
   */
   
   /*BLUE GRADIENT
      background-image: linear-gradient(to right, rgb(85, 151, 218), rgb(95, 199, 218));
   */
}

.boxed-content {
   background: white;
   border: 1px solid rgb(233, 233, 233);
   border-radius: 5px;
   padding: 25px;
   margin-top: 10px;
   box-shadow: 0px 0px 8px 1px rgb(235, 235, 235);
   -moz-box-shadow: 0px 0px 8px 1px rgb(235, 235, 235);
   -webkit-box-shadow: 0px 0px 8px 1px rgb(235, 235, 235);
}

.box-title {
   font-family:'QanelasSoft-Regular';
   text-transform: uppercase;
   letter-spacing: 0.1em;
   color: gray;
}

.box-title-bottom-line {
   border-bottom: 0px solid rgb(233, 233, 233);
   margin-left: -25px;
   margin-right: -25px;
   margin-bottom: 20px;
}


@font-face {
   font-family: "QanelasSoft-Bold";
   src: url("assets/css/fonts/QanelasSoft-Bold.otf") format("opentype");
}

@font-face {
   font-family: "QanelasSoft-ExtraBold";
   src: url("assets/css/fonts/QanelasSoft-ExtraBold.otf") format("opentype");
}

@font-face {
   font-family: "QanelasSoft-Heavy";
   src: url("assets/css/fonts/QanelasSoft-Heavy.otf") format("opentype");
}

@font-face {
   font-family: "QanelasSoft-Light";
   src: url("assets/css/fonts/QanelasSoft-Light.otf") format("opentype");
}

@font-face {
   font-family: "QanelasSoft-Medium";
   src: url("assets/css/fonts/QanelasSoft-Medium.otf") format("opentype");
}

@font-face {
   font-family: "QanelasSoft-Regular";
   src: url("assets/css/fonts/QanelasSoft-Regular.otf") format("opentype");
}

@font-face {
   font-family: "QanelasSoft-SemiBold";
   src: url("assets/css/fonts/QanelasSoft-SemiBold.otf") format("opentype");
}

@font-face {
   font-family: "QanelasSoft-UltraLight";
   src: url("assets/css/fonts/QanelasSoft-UltraLight.otf") format("opentype");
}
