
<ul nz-menu [nzMode]="'horizontal'" (nzClick)="toggleRecordDetails()">

   <li nz-menu-item [nzSelected]="true">
      <i class="far fa-smile fa-lg"></i> <span class="menu-tab-title">Patient Info</span>
   </li>

   <li nz-menu-item>
      <i class="far fa-address-card fa-lg"></i> <span class="menu-tab-title">EHR Info</span>
   </li>

</ul>


<div *ngIf="toggleViewedDetails">

   <p class="info-category info-category-basic">Basic Information</p>
   <hr>

   <table style="width:100%">

      <tr>
         <th>Name: </th>
         <span class="info-text">{{recordData.patientData.name}}</span>
      </tr>

      <tr class="info-text">
         <th>Gender: </th>
         <span>{{recordData.patientData.gender}}</span>
      </tr>

      <tr class="info-text">
         <th>Age: </th>
         <span>{{patientAge}}</span>
      </tr>

      <tr class="info-text">
         <th>Country: </th>
         <span>{{recordData.patientData.country}}</span>
      </tr>

      <tr class="info-text">
         <th>City: </th>
         <span>{{recordData.patientData.city}}</span>
      </tr>

   </table> 


   <p class="info-category">Contact Information</p>
   <hr>

   <table style="width:100%; margin-bottom:4vh;">

      <tr class="info-text">
         <th>Phone: </th>
         <span>{{recordData.patientData.phone}}</span>
      </tr>

      <tr class="info-text">
         <th>Email: </th>
         <span>{{recordData.patientData.email}}</span>
      </tr>

      <tr class="info-text">
         <th>Address: </th>
         <span>{{recordData.patientData.address}}</span>
      </tr>
  
   </table> 

</div>


<div *ngIf="!toggleViewedDetails">

   <p class="info-category info-category-basic">Medical Conditions</p>
   <hr>

   <div class="patient-conditions">

      <div class="ehr-prompt">
         <span *ngIf="ehrConditions.length == 0">
            Patient has no conditions.
         </span>
      </div>
      
      <div class="ehr-list">
         <ul class="list-group">
            <li *ngFor="let condition of ehrConditions" class="list-group-item d-flex justify-content-between align-items-center">
               {{condition}}
               <a *ngIf="isEditingEhr" (click)="deleteCondition(condition)" href="javascript:void(0)" class="badge"><i class="far fa-minus-square fa-lg" style="float:right;"></i></a>
            </li>
         </ul>
      </div>

      <div *ngIf="isEditingEhr" class="ehr-input">
         <nz-input-group nzSearch [nzSuffix]="conditionAdditionButton">
            <input #condition type="text" placeholder="Add a condition.." nz-input>
         </nz-input-group>

         <ng-template #conditionAdditionButton>
            <button (click)="addCondition(condition.value)" nzType="default" nz-button nzSearch>
               <i class="far fa-plus-square fa-lg"></i>
            </button>
         </ng-template>
      </div>
      
   </div>


   <div class="patient-allergies">

      <p class="info-category info-category-basic">Allergies and Drug Reactions</p>
      <hr>

      <div class="ehr-prompt">
         <span *ngIf="ehrAllergies.length == 0">
            Patient has no allergies or drug reactions.
         </span>
      </div>
      
      <div class="ehr-list">
         <ul class="list-group">
            <li *ngFor="let allergy of ehrAllergies" class="list-group-item d-flex justify-content-between align-items-center">
               {{allergy}}
               <a *ngIf="isEditingEhr" (click)="deleteAllergy(allergy)" href="javascript:void(0)" class="badge"><i class="far fa-minus-square fa-lg" style="float:right;"></i></a>
            </li>
         </ul>
      </div>

      <div *ngIf="isEditingEhr" class="ehr-input">
         <nz-input-group nzSearch [nzSuffix]="allergyAdditionButton">
            <input #allergy type="text" placeholder="Add an allergy.." nz-input>
         </nz-input-group>

         <ng-template #allergyAdditionButton>
            <button (click)="addAllergy(allergy.value)" nzType="default" nz-button nzSearch>
               <i class="far fa-plus-square fa-lg"></i>
            </button>
         </ng-template>
      </div>
      
   </div>


   <div style="margin-top:3vh;">
      <button *ngIf="!isEditingEhr" (click)="toggleEhrEditing()" style="margin-right:5px;" nzType="default" nz-button>Edit EHR</button>
      <button *ngIf="isEditingEhr" (click)="requestEhrUpdateConsent()" style="margin-right:5px;" nzType="primary" nz-button>Request Edit consent</button>
      <button *ngIf="isEditingEhr" (click)="toggleEhrEditing()" nzType="default" nz-button>Cancel Editing</button>
   </div>

</div>
