.network-header 
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}


#network-name 
{
   flex-grow: 1;
   text-align: center;
}


#network-selector 
{
   margin-left: 15px;
   width: auto;
}


#network-content
{
   margin-top: 15px;
   margin-bottom: 15px;
}

#network-invite
{
   margin-bottom: 15px;
}

#network-invite-button
{
   margin-top: 25px;
}


#network-creation 
{
   width: fit-content;
}


::ng-deep .network-creation-modal 
{
   display: grid;
   align-items: center;
   justify-content: center;
}


.anticon-close-circle 
{
   cursor: pointer;
   color: #ccc;
   transition: color 0.3s;
   font-size: 12px;
}


.anticon-close-circle:hover 
{
   color: #999;
}


.anticon-close-circle:active 
{
   color: #666;
}
