.fa-2x
{
   font-size: 2em;
}

.fa
{
   position: relative;
   display: table-cell;
   width: 60px;
   height: 36px;
   text-align: center;
   vertical-align: middle;
   font-size: 20px;
}

#nav-user a
{
   color: rgb(165, 165, 165);
}

#nav-user .menu .item
{
   right: 0;
}

#nav-user a:hover
{
   color: rgb(125, 125, 125); 
}

#nav-user 
{
   position: relative;
   display: inline-block;
}
 
.nav-user-menu
{
   display: block;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
   border: 1px solid rgb(233, 233, 233);
   z-index: 1; 
   right: 0;
}
 
.nav-user-menu a 
{
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}
 
.nav-user-menu a:hover 
{
   background-color: #f1f1f1
}

