.fa-2x
{
   font-size: 2em;
}

.fa
{
   position: relative;
   display: table-cell;
   width: 60px;
   height: 36px;
   text-align: center;
   vertical-align: middle;
   font-size: 20px;
}

.navbar
{
   height: 4em;
   z-index: 1001;
   display: flex;
   justify-content: flex-start;
   background-color: #ffffff;
   border-bottom: 1px solid rgb(233, 233, 233);
}

.navbar > div:nth-child(2)
{
   margin-left: auto;
}

.navbar > div:nth-child(3)
{
   margin-left: 2%;
}

.nav-logo img
{
   width: 160px;
   height: 25px;
   margin-top: 0.1em;
}

.navbar ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.navbar li
{
   float: left;
   text-align: center;
   text-decoration: none;
}


@media screen and (max-width: 600px)
{
   .navbar
   {
      height: 5em;
   }
}
