<!--
<nav class="navbar">

   <ul>

      <li *ngIf="innerWidth>600" class="nav-logo">
         <a href="javascript:void(0)">
            <img src="https://i.imgur.com/DaYJqrs.png" alt="BrandLogo">
         </a>
      </li>

      <li>
         <app-nav-search></app-nav-search>
      </li>

      <li id="user-menu">
         <app-nav-user-menu></app-nav-user-menu>
      </li>

   </ul>

</nav>
-->

<div class="navbar">
   <div *ngIf="innerWidth>600" class="nav-logo">
      <a href="javascript:void(0)">
         <img src="https://i.imgur.com/yYBNZUY.png" alt="BrandLogo">
      </a>
   </div>

   <div>
      <app-nav-search></app-nav-search>
   </div>

   <div>
      <app-nav-user-menu></app-nav-user-menu> 
   </div>
</div>