<div class="container" style="width: 50%">
   
   <form [formGroup]="registrationFormGroup" (submit)="onRegistration()" style="margin-top:20%" novalidate>

      <!-- Name Input -->
      <div class="form-group">
         <label for="name">Name</label>
         <input formControlName="nameCtrl" type="text" class="form-control" placeholder="Name..." required>
      </div>

      <!-- Username Input -->
      <div class="form-group">
         <label for="username">Username</label>
         <input formControlName="usernameCtrl" type="text" class="form-control" placeholder="Username..." required>
      </div>

      <!-- Email Input -->
      <div class="form-group">
         <label for="email">Email</label>
         <input formControlName="emailCtrl" type="text" class="form-control" placeholder="Email..." required>
      </div>

      <!-- Password Input -->
      <div class="form-group">
         <label for="password">Password</label>
         <input formControlName="passwordCtrl" type="password" class="form-control" placeholder="Password..." required>
      </div>

      <!-- Form Submit -->
      <input type="submit" value="Register" class="btn btn-primary">

   </form>

</div>
