.user-info-avatar img
{
   border-radius: 50%;
   height: 170px;
   width: 170px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


.user-info-text
{
   text-align: center;
   font-family:'QanelasSoft-Regular';
}


.user-info-buttons
{
   display: flex;
   justify-content: center;
   border: 1px solid rgb(220, 220, 220);
   margin: 10vh -1.75vw 6vh -1.75vw;
}

.user-info-buttons a
{
   padding: 4%;
   text-decoration: none;
   color: rgb(100, 100, 100);
   border-left: 1px solid rgb(220, 220, 220);
   border-right: 1px solid rgb(220, 220, 220);
}

.user-info-buttons a:hover
{
   color: rgb(40, 40, 40);
}

.user-info-buttons a i
{
   margin-left: 35%;
   color: rgb(100, 100, 100);
}

.user-info-buttons a span
{
   font-family:'QanelasSoft-Bold';
}
