.nav-form input
{
   max-height: 28px;
}

.nav-form ::placeholder 
{ 
   color: rgb(150, 150, 150);
   opacity: 1; 
}

.nav-form input:focus
{
   outline: none;
}

.nav-search-options-not-found 
{
   text-align:center; 
   margin-bottom:10px;
   margin-top:10px;
}

@media screen and (max-width: 600px)
{
   .nav-form
   {
      margin-top: -0.8em;
      margin-left: 0;
   }
}
