<div class="nav-form">

   <div>
      <nz-input-group [nzAddOnAfter]="addOnAfterTemplate" [nzAddOnBefore]="addOnBeforeTemplate">
         <input (input)="onSearchBarInput($event.target?.value)" [nzAutocomplete]="auto" nz-input [(ngModel)]="searchInputValue" placeholder="Search..." type="search">
      </nz-input-group>
      
      <nz-autocomplete nzBackfill #auto>
         <nz-auto-option *ngFor="let option of searchOptions" [nzValue]="option">
            {{option}}
         </nz-auto-option>

        <div *ngIf="isSearchOptionsEmpty">
            <p class="nav-search-options-not-found">Not found</p>
        </div>
      </nz-autocomplete>
   </div>
   
   <ng-template #addOnBeforeTemplate>
      <a (click)="onSearch()"><i nz-icon type="search"></i></a>
   </ng-template>
   
   <ng-template #addOnAfterTemplate>
      <nz-select [(ngModel)]="selectedSearchOption" (ngModelChange)="onSelectedSearchOptionChange()">
         <nz-option [nzLabel]="'Network'" [nzValue]="'Network'"></nz-option>
         <nz-option [nzLabel]="'User'" [nzValue]="'User'"></nz-option>
         <nz-option [nzLabel]="'EHR'" [nzValue]="'EHR'"></nz-option>
         <nz-option [nzLabel]="'Provider'" [nzValue]="'Provider'"></nz-option>
      </nz-select>
   </ng-template>
   
</div>


<ng-template [ngIf]="isUserSearched">
   
</ng-template>

<ng-template [ngIf]="isNetworkSearched">
   
</ng-template>

<ng-template [ngIf]="isProviderSearched">
   
</ng-template>
