<div id="nav-notifications-icon" (clickOutside)="onClickedOutside($event)">
   <a (click)="navNotificationsMenu=!navNotificationsMenu" href="javascript:void(0)">
      <i class="fa fa-bell fa-2x"></i>
   </a>
</div>


<div class="nav-notifications-menu" *ngIf="navNotificationsMenu">

   <div style="text-align:left; font-size:16px; padding:10px 15px;">
      <p style="font-weight:600; color: gray; letter-spacing: 0.13em;">
         NOTIFICATIONS
      </p>
   </div>

   <ul class="notifications-list">

      <li>
         <a class="notification-item" href="javascript:void(0)">
            <span style="float:left;" class="fa fa-network-wired fa-2x"></span>
            <p>Notification 01</p>
         </a>
      </li>

      <li>
         <a class="notification-item" href="javascript:void(0)">
            <span style="float:left;" class="fa fa-network-wired fa-2x"></span>
            <p>Notification 02</p>
         </a>
      </li>


   </ul>
   
</div>
