<div id="nav-notifications-icon" (clickOutside)="onClickedOutside($event)">
   <a (click)="isNavNotificationsMenuVisible=!isNavNotificationsMenuVisible" href="javascript:void(0)">
      <i class="fa fa-bell fa-2x"></i>
   </a>
</div>


<div class="nav-notifications-menu" *ngIf="isNavNotificationsMenuVisible">

   <div style="text-align:left; font-size:16px; padding:10px 15px;">
      <p class="notification-menu-header">
         NOTIFICATIONS
      </p>
   </div>

   
   <div *ngIf="!hasNewNotifications" class="empty-notifications">
      <p>You currently have no new notifications</p>
   </div>


   <ul class="notifications-list">

      <li *ngFor="let notification of notifications">
         <a (click)="onNotificationClick(notification)" class="notification-item" href="javascript:void(0)">
            <span style="float:left;" class="fa fa-network-wired fa-2x"></span>
            <p>{{notificationMessageBuilder(notification)}}</p>
         </a>
      </li>

   </ul>

</div>
