<div class="side-nav">
   <div class="area"></div>
   <nav class="nav-menu">
      <ul style="padding-top: 2em;">

         <li>
            <a href="javascript:void(0)" routerLink='/main' routerLinkActive='active'>
               <i class="fa fa-home fa-2x"></i>
               <span class="nav-text">
                  Dashboard
               </span>
            </a>
         </li>

         <li>
            <a href="">
               <i class="fa fa-list fa-2x"></i>
               <span class="nav-text">
                  EHRs
               </span>
            </a>
         </li>

         <li>
            <a href="javascript:void(0)" routerLink='/network' routerLinkActive='active'>
               <i class="fa fa-network-wired fa-2x"></i>
               <span class="nav-text">
                  Networks
               </span>
            </a>
         </li>
         
         <li>
            <a href="javascript:void(0)" routerLink='/panel' routerLinkActive='active'>
               <i class="fa fa-toolbox fa-2x"></i>
               <span class="nav-text">
                  Administration Panel
               </span>
            </a>
         </li>

         <li>
            <a href="#">
               <i class="fa fa-info fa-2x"></i>
               <span class="nav-text">
                  Info
               </span>
            </a>
         </li>

      </ul>
   </nav>
</div>
