<div class="side-nav">
   <div class="area"></div>
   <nav class="nav-menu">
      <ul style="padding-top: 2em;">

         <li>
            <a href="">
               <i class="fa fa-home fa-2x"></i>
               <span class="nav-text">
                  Dashboard
               </span>
            </a>
         </li>

         <li class="has-subnav">
            <a href="">
               <i class="fa fa-info fa-2x"></i>
               <span class="nav-text">
                  Info
               </span>
            </a>
         </li>

         <li class="has-subnav">
            <a href="">
               <i class="fa fa-list fa-2x"></i>
               <span class="nav-text">
                  EHRs
               </span>
            </a>
         </li>

      </ul>
   </nav>
</div>
