<div>
   <div class="info-group">
      <h4 class="info-header">Consent Request</h4>

      <p>
         <a href="javascript:void(0)">
            {{notification.senderName}}
         </a> 

         is asking for permission to change, and update your medical record.
      </p>
   </div>
   
   <hr class="info-break-line">

   <div class="info-group">
      <h4 class="info-header">Request Information</h4>

      <p>
         <b>{{notification.senderName}}</b> from the <b>{{requesterNetworkDetails?.networkName}}</b> 
         healthcare institutions network is asking for your consent and permission to 
         update your electronic health record.
         <br><br>
         If you choose to accept, then all of the institutions of the network will be able 
         to access your record's both old and updated data. However, they will not be able 
         to share it with other networks without your consent.
      </p>
   </div>

   <hr class="info-break-line">

   <div class="info-group">
      <h4 class="info-header">Updated data details</h4>

      <div class="patient-conditions">
         <p class="info-category">Medical Conditions</p>
         <div class="ehr-list">
            <ul class="list-group">
               <li *ngFor="let condition of ehrConditions" class="list-group-item d-flex justify-content-between align-items-center">
                  {{condition}}
                  <a *ngIf="isEditingEhr" (click)="deleteCondition(condition)" href="javascript:void(0)" class="badge"><i class="far fa-minus-square fa-lg" style="float:right;"></i></a>
               </li>
            </ul>
         </div>
      </div>

      <div class="patient-allergies">
         <p class="info-category info-category-basic">Allergies and Drug Reactions</p>
         <div class="ehr-list">
            <ul class="list-group">
               <li *ngFor="let allergy of ehrAllergies" class="list-group-item d-flex justify-content-between align-items-center">
                  {{allergy}}
                  <a *ngIf="isEditingEhr" (click)="deleteAllergy(allergy)" href="javascript:void(0)" class="badge"><i class="far fa-minus-square fa-lg" style="float:right;"></i></a>
               </li>
            </ul>
         </div>
      </div>
      
   </div>

   <hr class="info-break-line">

   <div class="info-group">
      <h4 class="info-header">{{requesterNetworkDetails?.networkName}} network information</h4>

      <p>Network's name: {{requesterNetworkDetails?.networkName}}</p>

      <p>Network institutions: </p>
      <ul>
         <li *ngFor="let institution of requesterNetworkDetails?.networkInstitutions">
            <a href="javascript:void(0)">
               {{institution}}
            </a>
         </li>
      </ul>
      <br>

      <p>Network members: </p>
      <ul>
         <li *ngFor="let provider of requesterNetworkDetails?.networkMembers">
            <a href="javascript:void(0)">
               {{provider}}
            </a>
         </li>
      </ul>
   </div>


   <div style="margin-top:6vh;">
      <button (click)="onConsentRequestAccept()" nz-button nzType="primary" style="display:flex; margin-left:auto; margin-bottom:-32px; margin-right:70px;">
         Accept
      </button>

      <button (click)="onConsentRequestReject()" nz-button nzType="danger" style="display:flex; margin-left:auto; margin-bottom:-13px; margin-right:-9px;">
         Reject
      </button>
   </div>
</div>
