<div>
   <h4>Consent Request</h4>

   <p>
      <a href="javascript:void(0)">
         {{notification.senderName}}
      </a> 

      is asking for permission to change, and update your medical record.
   </p>

   <hr>

   <div>
      <h4>Request Information</h4>

      <p>
         <b>{{notification.senderName}}</b> from the <b>{{requesterNetworkDetails?.networkName}}</b> 
         healthcare institutions network is asking for your consent and permission to 
         update your electronic health record.
         <br><br>
         If you choose to accept, then all of the institutions of the network will be able 
         to access your record's both old and updated data. However, they will not be able 
         to share it with other networks without your consent.
      </p>
   </div>

   <hr>

   <div>
      <h4>Updated data details</h4>
      
   </div>

   <hr>

   <div>
      <h4>{{requesterNetworkDetails?.networkName}} network information</h4>

      <p>Network's name: {{requesterNetworkDetails?.networkName}}</p>

      <p>Network institutions: </p>
      <ul>
         <li *ngFor="let institution of requesterNetworkDetails?.networkInstitutions">
            <a href="javascript:void(0)">
               {{institution}}
            </a>
         </li>
      </ul>
      <br>

      <p>Network members: </p>
      <ul>
         <li *ngFor="let provider of requesterNetworkDetails?.networkMembers">
            <a href="javascript:void(0)">
               {{provider}}
            </a>
         </li>
      </ul>
   </div>


   <div style="margin-top:6vh;">
      <button (click)="onConsentRequestAccept()" nz-button nzType="primary" style="display:flex; margin-left:auto; margin-bottom:-32px; margin-right:70px;">
         Accept
      </button>

      <button (click)="onConsentRequestReject()" nz-button nzType="danger" style="display:flex; margin-left:auto; margin-bottom:-13px; margin-right:-9px;">
         Reject
      </button>
   </div>
</div>
